.jumbotron {
    height: 100%;
    background-image: url('../backgrounds/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

body {
    font: 1rem/1.5 var(--font-family-sans-serif);
}